<section>
    
    <div class="container" data-id={{items.id}}>
        <h2 class="center-align">{{items.name}}</h2>
        <div class="row">
            <div class="card-image col s6">
                <img class="card col s6" src="{{items.image}}">
            </div>
            
            <div class="container col s5">
                <h4 class="center-align">{{vendor}}</h4>
                <p class="flow-text">
                    {{item description}}
                </p>
                <h5 class="left">price</h5>
                <button id="addToCart">Add to Cart</button>
            </div>
        </div>
    </div>

</section>